@model FailTracker.Web.Models.Issue.EditIssueForm
@{
    ViewBag.Title = "Edit " + Model.Subject;
}

<h2>Edit Issue</h2>
@using(Html.BeginForm("Edit", "Issue", FormMethod.Post, new{@class="form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-default" />
        </div>
    </div>
}
